/* Block */
.post-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: 32px;
}

/* Element */
.post-layout__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-layout__back {
  align-self: flex-start;
  margin-left: -130px;
  order: 3;
}
.post-layout__comments {
  top: 24px;
  position: static;
  justify-content: center;
}

/* Modifiers */

/* Media Queries */
@media (max-width: 920px) {
  .post-layout {
    flex-direction: column;
  }
  .post-layout__back {
    align-self: flex-end;
    order: -1;
  }
}

/* Id */
[id] {
  scroll-margin-top: 30vh;
}
