/* 
 * Estrutura BEM (Block, Element, Modifier) aplicada ao CSS:
 * - Usar classes CSS para toda e qualquer estilização.
 * - Usar block__element para elementos filhos do componente principal.
 * - Usar block--modifier (ou block__element--modifier) para variações. 
 */
/* Block */
.button {
  --button-shadow-color: var(--cinza-secundario);
  --button-background-color: var(--cinza-primario);
  --button-text-color: var(--preto-primario);
  --button-border-color: var(--branco-primario--opacity-50);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  box-shadow: 0px 4px var(--button-shadow-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 10px;
  cursor: pointer;

  text-decoration: none;

  border-color: var(--button-border-color);
  border-width: 1px;
}
.button:active {
  border-style: inset;
  box-shadow: none;
  transform: translateY(2px);
}
.button:visited {
  color: var(--button-text-color);
}
