/* 
 * Estrutura BEM (Block, Element, Modifier) aplicada ao CSS:
 * - Usar classes CSS para toda e qualquer estilização.
 * - Usar block__element para elementos filhos do componente principal.
 * - Usar block--modifier (ou block__element--modifier) para variações. 
 */
/* Block */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/imagem-do-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
}

/* Element */
.hero__mascot {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 1vw;
  z-index: 10;
  pointer-events: none;
}

.hero__vector {
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
  pointer-events: none;
  fill: var(--branco-primario);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  min-height: 100%;
  position: relative;
  z-index: 11;
}
.hero__slogan {
  display: flex;
  flex-direction: column;
  max-width: 637px;
  gap: 40px;
}
.hero__title {
  color: var(--branco-primario);
}
.hero__description {
  color: var(--cinza-primario);
}
.hero__bn-group {
  display: flex;
  flex-direction: column;
  width: 328px;
  gap: 20px;
}
.hero__button {
  --button-background-color: var(--bege-secundario);
  --button-shadow-color: var(--bege-escuro-primario);
  --button-text-color: var(--branco-primario);
}

/* Media Queries */
@media (max-width: 820px) {
  .hero {
    height: 75vh;
  }
  .hero__mascot {
    width: 90%;
    right: 0;
  }
  .hero__vector {
    min-height: 100px;
    object-fit: cover;
    bottom: -0.1vh;
  }
  .hero__content {
    align-items: center;
  }
  .hero__slogan {
    text-align: center;
  }
}
