/* 
 * Estrutura BEM (Block, Element, Modifier) aplicada ao CSS:
 * - Usar classes CSS para toda e qualquer estilização.
 * - Usar block__element para elementos filhos do componente principal.
 * - Usar block--modifier (ou block__element--modifier) para variações. 
 */
/* Block */
.main {
  padding-top: 90px;
  width: 100%;
}

.section {
  padding-block: 100px;
  padding-inline: 40px;
}
