:root {
  /* Minhas fontes */
  --font-titles: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Tamnaho de meus textinhos */
  --fs-body: 1rem; /* 16px */
  --fs-h1: 2.625rem; /* 42px */
  --fs-h2: 2rem; /* 32px */
  --fs-h3: 1.5rem; /* 24px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-h6: 0.875rem; /* 14px */
  --color-text: #222222;

  /* Aqui jaz minhas cores (lá do figma viu!!!! Nenhuma colocada por fora). */
  --laranja-avermelhado-primario: #e45a35;

  --laranja-primario: #f76205;

  --bege-primario: #f9c37b;
  --bege-secundario: #fbc782;

  --bege-claro-primario: #fceeca;
  --bege-claro-secundario: #fce7b8;

  --cinza-primario: #d9d9d9;
  --cinza-secundario: #8e8e8e;
  --branco-primario: #ffffff;
  --preto-primario: #000000;
  --branco-primario--opacity-50: #ffffff80;
}

/* 
 * CSS Base
 * Aqui a estrutura BEM (Block, Element, Modifier) entra em excessão por ser um CSS global 
 */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: var(--fs-body);
  color: var(--color-text);
  line-height: 1.5;
}

p {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 900;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 800;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: 700;
}

h4 {
  font-size: var(--fs-h4);
  font-weight: 600;
}

h5 {
  font-size: var(--fs-body);
  font-weight: 500;
}

h6 {
  font-size: var(--fs-h6);
  font-weight: 300;
}

ul,
ol {
  list-style: none;
}
